/*
	RES - Labo 4
	Style for the home page
*/

body {
  background: white;
}

h1 {
  color: black;
  font-family: Arial;
  font-size: 28px;
  margin-left: 10px;
  font-weight: bold;
  margin-bottom: -10px;
  text-align: center;
}

h2 {
  color: black;
  font-family: Arial;
  font-size: 15px;
  font-weight: normal;	
  text-align: center;
}

h3 {
  color: black;
  font-family: 'Courier New';
  font-size: 40px;
  margin: 40px;
  font-weight: bold;	
  text-align: center;
}